:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  --font-size: 14px;
  --button-height: 32px;
  --button-bg: white;
  --button-active-bg: #eee;
  --button-radius: 4px;
  --button-color: #333;
  --border-color: #999;
  --border-color-hover: #666;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: light dark;
  background-color: #255, 255, 255;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  margin: 20px;
}

body {
  font-size: var(--font-size);
}